/* Common shared styles */
body {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal
}

.orange {
    color: #FD6E0A
}

.red {
    color: red
}

.blue {
    color: blue
}

.indigo {
    color: indigo
}

.darkolivegreen {
    color: darkolivegreen
}

.buttoncolor {
    border-radius: 5px;
    background: #bb6477;
    border: 500;
    margin: 1cm;
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding: 10px 20px;
}

/* Header related style */
.header {
    background-color: #e0d8df;
    background-image: url(../images/nature.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.bannar {
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannarpic {
    align-items: center;
    margin-right: 800px;
}
.bannar .bannarpic {
    width: 300px;
}
.bannargreeting{
    font-size: 70px;
    color: #FD6E0A; 
    margin-bottom: 0;
}

.bannartitle{
    font-size: 50px;
    color: darkmagenta;
}



/* Nav related styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 300px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 40px;
    font-weight: 1600;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

li a {
    text-decoration: none;
    color: darkorange;
}

/* main section styles */
main{
    max-width: 1150px;
    margin: 0 auto;
}

/* about section styles */
.about{
    padding: 50px;
    background-color: rgb(167, 189, 182);
    margin: 100px;
}

.sectiontitle{
    color: #FD6E0A;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
.aboutpara{
    text-align: center;
    font-size: 30px;
}
.about-info-container{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}