/* Common shared styles */
body {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal
}

.orange {
    color: #FD6E0A
}

.red {
    color: red
}

.blue {
    color: blue
}

.indigo {
    color: indigo
}

.darkolivegreen {
    color: darkolivegreen
}

.buttoncolor {
    border-radius: 5px;
    background: #bb6477;
    border: 10;
    font-size: 20px;
    font-weight: 800;
    color: white;
    padding: 10px 20px;
}

/* Header related style */
.header{ background-color: #FFF8F3;}
.bannar{padding: 30px 30px 30px 200px;
        display: flex;
        align-items:center;
    }

.bannar .bannarpic{
    width:500px;
}




/* Nav related styles */
nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 0 300px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 40px;
    font-weight: 1600;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 40px;
}

li a {
    text-decoration: none;
    color: darkorange;
}